
#imagem {
    width: 100%;
    
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao{
    font-size: 20px; 
}

em strong {
    color: rgb(146, 40, 40);
}

.itens {
    font-style: italic;
}

.beneficios {
    background-color: #ffffff;
}

.principal {
    background: #ddc1c1;
}
h2 {
    text-align: center;
}